<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6dfcb">  <td>17/10/08 21:17:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseDriver.setUp()[pri:0, instance:com.facebook.testexecution.LoginPage@4b9e13df]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>17/10/08 21:18:16</td>   <td>56796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage.testLoginPage()[pri:0, instance:com.facebook.testexecution.LoginPage@4b9e13df]">testLoginPage</td> 
  <td>main@333362446</td>   <td></td> </tr>
<tr bgcolor="b6dfcb">  <td>17/10/08 21:18:19</td>   <td>59922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseDriver.tearDown()[pri:0, instance:com.facebook.testexecution.LoginPage@4b9e13df]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@333362446</td>   <td></td> </tr>
</table>
